﻿.checkbox {
    color: gray;
    margin-right: 10px;
}

body {
    background: #458B72;
}

.navbar-inner {
    background: #2C2031!important;
}

#inner {
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    width: 780px;
    margin: 0 auto;
    padding: 50px;
}

.entry h5 {
    display: inline-block;
    border-radius: 3px;
    background: #E2474A;
    color: white;
    padding: 5px;
    font-size: 22px;
    text-shadow: 2px 2px #666;
    max-width: 350px;
}

.entry h6 {
    float: right;
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    text-shadow: 2px 2px #666;
    background: #FCA606;
    color: white;
}

.entry h6 a {
    color: yellow;
}

.entry hr {
    opacity: 0.3;
}

.navbar-inverse .nav .active > a {
    background: transparent;
    color: #FCA606;
}

.validation-summary-errors
{
    color: rgb(185, 74, 72);
    background-color: rgb(242, 222, 222);
    border-color: rgb(238, 211, 215);
    padding: 10px 15px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    border-radius: 4px 4px 4px 4px;
}