﻿@Html.ActionLink("Projekt", "Index", "Entry", null, new { @class = "brand" })

@{
    Func<string, string> IsActive = (link) =>
    {
        if (Request.RawUrl == link)
            return "active";
        return string.Empty;
    };
}

<nav class="nav-collapse collapse">
    <ul class="nav">
        <li class="@IsActive(@Url.Action("Index"))">
            <a href="@Url.Action("Index")"><i class="icon-home icon-white"></i>&nbsp;Najlepsze</a>
        </li>
        <li>
            <a href="#about"><i class="icon-th-large icon-white"></i>&nbsp;Poczekalnia</a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-th icon-white"></i>&nbsp;Kategorie <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="nav-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
            </ul>
        </li>
        @if (Request.IsAuthenticated)
        {
            <li><a href="#about"><i class="icon-star icon-white"></i>&nbsp;Ulubione</a></li>
            <li><a href="#about"><i class="icon-plus icon-white"></i>&nbsp;Dodaj</a></li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i>Panel użytkownika <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edytuj profile</a></li>
                    <li><a href="/Account/ChangePassword">Zmiana hasła</a></li>
                </ul>
            </li>
        }
    </ul>
    @Html.Partial("_LogOnPartial")
</nav>
