﻿@model Isi2.Projekt.Contracts.EntryContract
<div class="entry">
    <h5>@Model.Title</h5>
    <h6>dodano: @Model.Created.ToShortDateString() przez <strong><a href="">@Model.AuthorId</a></strong></h6>
    <hr />

    <div style="text-align: center;">
        <a href="@Url.Content("~/Content/3533022.png")">
            <img src="@Url.Content("~/Content/bg.jpeg")" class="img-polaroid" style="max-width: 100%;">
        </a>
    </div>
    <br />
    <br />
    <p>
        <a class="btn pull-right btn-inverse" href="#">Komentarze &raquo;</a>
        <br />
        <br />
    </p>
    <hr>
</div>
